<td>Назва: <%=link_to question.name, question_path(question.id) %></td>

<td>Зміст: <%= question.text %></td>
<td>Кількість відповідей: <%= question.count %></td>
<td>Категорія: <%= question.category.name %></td>