<p>Назва: <%=link_to question.name, question_path(question.id) %></p>

<p>Зміст: <%= question.text %></p>
<p>Кількість відповідей: <%= question.count %></p>
<p>Категорія: <%= question.category.name %></p>