<br>
<a href = "/questions/new"><button type="button" class="btn">Нове питання</button></a>
<hr>
<table>
<%@questions.each do |question| %>
<tr>
<%=render 'elem', question:question%>
</tr>
<%end%>
</table>