<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#newCommentModal" class="text-secondary">Коментувати</a>
<!-- Modal -->
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Новий комент</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	    <%= pp f.text_area :text, :class => "tinymce", :rows => 8, :cols => 100 %>
		<%= tinymce %>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Скасувати</button>
        <%= f.submit "Зберегти", :class=>"btn btn-sm btn-primary"%>
      </div>
    </div>
  </div>
</div>