  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Відповісти</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
		<br>
	   	<%= pp f.text_area :text, :class => "tinymce", :rows => 8, :cols => 100 %>
		<%= tinymce %>
		<br>
		<p><%= f.submit "Надіслати", :class=>"btn btn-primary"%></p>
	  </div>
    </div>
  </div>
</div>